@{
    ViewBag.Title = "Purpose";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<article>
    <ul>
        <li>Increase performance monitoring reject</li>
        <li>Flexible data to analyze</li>
        <li>Increase follow up QC reject performance</li>
        <li>Reduce storage area to electronic file</li>
        <li>Reduce document papers usage</li>
    </ul>
</article>