@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    @*<h2>@ViewBag.Message</h2>*@
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">System (Ext):</span>
        <span>6716 (Moo)</span>
    </p>
    <p>
        <span class="label">QC (Ext):</span>
        <span>6666 (M)</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support (System):</span>
        <span><a href="mailto:monchit@nok.co.th">monchit@nok.co.th</a></span>
    </p>
    <p>
        <span class="label">Support (QC):</span>
        <span><a href="mailto:wichet@nok.co.th">wichet@nok.co.th</a></span>
    </p>
    @*<p>
        <span class="label">Support:</span>
        <span><a href="mailto:monchit@nok.co.th">monchit@nok.co.th</a></span>
    </p>*@
</section>